<div class="todo--container">
  <form class="todo--form">
    <input class="todo--input" type="text" #newTask
           placeholder="Add a new task">
    <button class="btn btn-primary" (click)="addItem(newTask.value)">Ajouter
    </button>
  </form>
  <hr class="break-line">
  <ul>
    <li *ngFor="let item of todoList; let index = index">
      <span (click)="markAsDone(index)" [ngClass]="item.done ? 'todo done' :
      'todo'"></span>
      <p class="todo-text">{{ item.description }}</p>
      <button class="btn" >Edit</button>
      <button class="btn btn-danger" (click)="deleteTask(index)">Delete</button>
    </li>
  </ul>
</div>
