<div class="container">
  <form class="todo--form">
    <input class="todo--input" type="text" #newItem placeholder="add a task"
           (keyup.enter)="addItem(newItem.value); newItem.value = ''">
    <button class="btn btn-primary" (click)="addItem(newItem.value)">Ajouter</button>
  </form>
  <ul>
    <li *ngFor="let item of getItems()">
      <span class="todo"></span>
      <p class="todo-text">{{ item.text}}</p>
      <button class="btn">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </li>
  </ul>
</div>
