<div class="container">
  <form class="todo--form">
    <input class="todo--input" type="text" [(ngModel)]="newTask"
           [ngModelOptions]="{standalone: true}"
           value=""
           placeholder="Add a new task"
           (keyup.enter)="addItem()">
    <button class="btn btn-primary" (click)="addItem()">Ajouter</button>
  </form>
  <hr class="break-line">
  <ul>
    <li *ngFor="let item of allItems; let index = index">
      <span class="todo"></span>
      <p class="todo-text">{{ item }}</p>
      <button class="btn">Edit</button>
      <button class="btn btn-danger" (click)="deleteTask(index)">Delete</button>
    </li>
  </ul>
</div>
