.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo--title {
  color: white;
  font-size: 6.4rem;
  margin-bottom: 10rem;
}
